[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = David Zechowy
	email = davidzech27@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
